<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Groups</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()" *ngIf="(user | async)">
        <ion-icon name="log-out-outline" slot="icon-only" />
      </ion-button>
      <ion-button routerLink="" *ngIf="(user | async ) === false">
        Sign in
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let group of groups">
    <ion-item [routerLink]="[group.id]">
      <ion-label>
        {{group.title}}
        <p>{{group.users.email}}</p>
      </ion-label>
    </ion-item>


  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="user | async">
    <ion-fab-button (click)="createGroup()">
      <ion-icon name="add" />
    </ion-fab-button>
  </ion-fab>
</ion-content>